.member__wrapper__breadcrumb
  .member__header
    .member__header__split
      = image_tag 'fmarket_logo_red.svg', class: "fmarket__header"
      %nav.progress
        %ul.progress-bar
          %li.double#double
            会員情報
            .progress-status
            .progress-status_bar
          %li
            電話番号認証
            .progress-status
            .progress-status_bar
          %li
            お届け先住所入力
            .progress-status
            .progress-status_bar
          %li.payment
            支払い方法
            .progress-status
            .progress-status_bar
          %li.teminus#teminus
            完了
            .progress-status
            .progress-status_bar


        

    %h2.new__member 会員情報入力
    = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
      = render "devise/shared/error_messages", resource: resource
      .sign__content
        .new__member__field
          = f.label :ニックネーム
          %span.require__red 必須
          %br/
          = f.text_field :nickname, autofocus: true, placeholder: "例）フリマ太郎", class: "textform"
        .new__member__field
          = f.label :メールアドレス
          %span.require__red 必須
          %br/
          = f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "PC・携帯どちらでも可", class: "textform"
        - if @sns_id.present?
          = hidden_field_tag :sns_auth, true
        - else
        .new__member__field
          = f.label :パスワード
          %span.require__red 必須
          - if @minimum_password_length
            %em

          %br/
          = f.password_field :password, autocomplete: "new-password", placeholder: "6文字以上", class: "textform"
        .new__member__field
          = f.label :パスワード確認
          %span.require__red 必須
          %br/
          = f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "6文字以上", class: "textform"
        .new__member__field
          = f.label :お名前（全角）
          %span.require__red 必須
          %br/
          = f.text_field :first_name, placeholder: "例）山田", class: "textform"
          %br/
          = f.text_field :last_name, placeholder: "例）彩", class: "textform"
        .new__member__field
          = f.label :お名前カナ（全角）
          %span.require__red 必須
          %br/
          = f.text_field :first_name_kana, placeholder: "例）ヤマダ", class: "textform"
          %br/
          = f.text_field :last_name_kana, placeholder: "例）アヤ", class: "textform"
        .new__member__field
          = f.label :電話番号
          %span.require__red 必須
          %br/
          = f.text_field :phone_number, placeholder: "例）携帯電話の番号を入力", class: "textform"
        .new__member__field
          = f.label :生年月日
          %span.require__red 必須
          %br/
          = f.date_select :birthday, {start_year: 2020, end_year: 1950, include_blank: true, use_month_numbers: true, date_separator: '年'}, {class: "select-default"}


        .actions
          = f.submit "次へ",class: "signin__next__page"


      .member__rule
        .member__rule__content
          = link_to 'プライバシーポリシー', '#', class: "sinki__kiyaku__content__h"
          = link_to 'フリマアプリ利用規約', '#', class: "sinki__kiyaku__content__h"
          = link_to '特定商取引に関する表記', '#',  class: "sinki__kiyaku__content__h"
      .member__footer
        .member__footer__content
          .member__footer__content__h
            = image_tag 'logo_gray.svg', class: "meru__image__h"
          %span.member__foot__h
            © Me*ca*i, Inc.










