= form_for @address_user do |f|
  = render "devise/shared/error_messages", resource: @address_user
  .field
    = f.label :prefecture_id
    %br/
    = f.text_field :prefecture_id
  .field
    = f.label :postal_code
    %br/
    = f.text_field :postal_code
  .field
    = f.label :city
    %br/
    = f.text_field :city
  .field
    = f.label :street
    %br/
    = f.text_field :street
  .field
    = f.label :building
    %br/
    = f.text_field :building
  .actions
    = f.submit "Sign up"
= render "devise/shared/links"