
.address__wrapper
  .address__header
    = image_tag 'fmarket_logo_red.svg', class: "fmarket__header"
    %nav.progress
      %ul.progress-bar
        %li.through#through
          会員情報
          .progress-status
          .progress-status_bar
        %li.active#active
          電話番号認証
          .progress-status
          .progress-status_bar
        %li.address-h#address-h
          お届け先住所入力
          .progress-status
          .progress-status_bar
        %li.payment
          支払い方法
          .progress-status
          .progress-status_bar
        %li.end
          完了
          .progress-status
          .progress-status_bar

  .address__body
    .sign__content
      = form_for @address_user do |f|
        = render "devise/shared/error_messages", resource: @address_user
        .field
          = f.label :都道府県, class: "field__a"
          %br/
          = f.collection_select :prefecture_id, AhPrefecture.all, :id, :name,{prompt: ""}, class: "address__textform"
        .field
          = f.label :郵便番号
          %br/
          = f.text_field :postal_code, class: "address__textform"
        .field
          = f.label :市区町村
          %br/
          = f.text_field :city, class: "address__textform"
        .field
          = f.label :番地
          %br/
          = f.text_field :street, class: "address__textform"
        .field
          = f.label :建物名
          %br/
          = f.text_field :building, class: "address__textform"
        .actions
          = f.submit "次へ進む", class: "signin__next__page "


  = render partial: "users/policy" 