.h__side
  %nav.mypage__nav
    %ul.mypage__nav__list
      %li.mypage__nav__list__h
        = link_to user_path(current_user.id), class: "mypage__nav__list" do
          マイページ
          .float__test
            %i.fa.fa-angle-right.fa-2x
      %li.mypage__nav__list__h
        = link_to '' '#', class: "mypage__nav__list" do
          お知らせ
          .float__test
            %i.fa.fa-angle-right.fa-2x
      %li.mypage__nav__list__h
        = link_to '' '#', class: "mypage__nav__list" do
          やることリスト
          .float__test
            %i.fa.fa-angle-right.fa-2x
      %li.mypage__nav__list__h
        = link_to '' '#', class: "mypage__nav__list" do
          いいね!一覧
          .float__test
            %i.fa.fa-angle-right.fa-2x
      %li.mypage__nav__list__h
        = link_to '' '#', class: "mypage__nav__list" do
          出品する
          .float__test
            %i.fa.fa-angle-right.fa-2x
      %li.mypage__nav__list__h
        = link_to '' '#', class: "mypage__nav__list" do
          出品した商品-出品中
          .float__test
            %i.fa.fa-angle-right.fa-2x
      %li.mypage__nav__list__h
        = link_to '' '#', class: "mypage__nav__list" do
          出品した商品-取引中
          .float__test
            %i.fa.fa-angle-right.fa-2x
      %li.mypage__nav__list__h
        = link_to '' '#', class: "mypage__nav__list" do
          出品した商品売却済み
          .float__test
            %i.fa.fa-angle-right.fa-2x
      %li.mypage__nav__list__h
        = link_to '' '#', class: "mypage__nav__list" do
          購入した商品-取引中
          .float__test
            %i.fa.fa-angle-right.fa-2x
      %li.mypage__nav__list__h
        = link_to '' '#', class: "mypage__nav__list" do
          購入した商品-過去の取引
          .float__test
            .float__test
              %i.fa.fa-angle-right.fa-2x
      %li.mypage__nav__list__h
        = link_to '' '#', class: "mypage__nav__list" do
          ニュース一覧
          .float__test
            %i.fa.fa-angle-right.fa-2x
      %li.mypage__nav__list__h
        = link_to '' '#', class: "mypage__nav__list" do
          評価一覧
          .float__test
            %i.fa.fa-angle-right.fa-2x
      %li.mypage__nav__list__h
        = link_to '' '#', class: "mypage__nav__list" do
          ガイド
          .float__test
            %i.fa.fa-angle-right.fa-2x
      %li.mypage__nav__list__h
        = link_to '' '#', class: "mypage__nav__list" do
          お問い合わせ
          .float__test
            %i.fa.fa-angle-right.fa-2x
      %p メルペイ
      %li.mypage__nav__list__h
        = link_to '' '#', class: "mypage__nav__list" do
          売上・振込申請
          .float__test
            %i.fa.fa-angle-right.fa-2x
      %li.mypage__nav__list__h
        = link_to '' '#', class: "mypage__nav__list" do
          ポイント
          .float__test
            %i.fa.fa-angle-right.fa-2x
      %p 設定
      %li.mypage__nav__list__h
        = link_to user_profile_show_path(current_user.id), class: "mypage__nav__list" do
          プロフィール
          .float__test
            %i.fa.fa-angle-right.fa-2x
      %li.mypage__nav__list__h
        = link_to '' '#', class: "mypage__nav__list" do
          発送元・お届け先住所変更
          .float__test
            %i.fa.fa-angle-right.fa-2x
      %li.mypage__nav__list__h
        = link_to '' '#', class: "mypage__nav__list" do
          支払い方法
          .float__test
            %i.fa.fa-angle-right.fa-2x
      %li.mypage__nav__list__h
        = link_to '' '#', class: "mypage__nav__list" do
          メール/パスワード
          .float__test
            %i.fa.fa-angle-right.fa-2x
      %li.mypage__nav__list__h
        = link_to '' '#', class: "mypage__nav__list" do
          本人情報
          .float__test
            %i.fa.fa-angle-right.fa-2x
      %li.mypage__nav__list__h
        = link_to '' '#', class: "mypage__nav__list" do
          電話番号確認
          .float__test
            %i.fa.fa-angle-right.fa-2x
      %li.mypage__nav__list__h
        = link_to user_logout_path(current_user.id), class: "mypage__nav__list" do
          ログアウト
          .float__test
            %i.fa.fa-angle-right.fa-2x