.member__rule
  .member__rule__content
    = link_to 'プライバシーポリシー', '#', class: "sinki__kiyaku__content__h"
    = link_to 'フリマアプリ利用規約', '#', class: "sinki__kiyaku__content__h"
    = link_to '特定商取引に関する表記', '#',  class: "sinki__kiyaku__content__h"
.member__footer
  .member__footer__content
    = link_to root_path do
      .member__footer__content__h
        = image_tag 'logo_gray.svg', class: "meru__image__h"
      %span.member__foot__h
        © Me*ca*i, Inc.