%body
  .body
    #app
      = render partial: 'items/header'
      .credit__wrapper
        = render partial: 'list' 
        .credit
          .credit__content
            %h2.credit__content__top
              クレジットカード情報入力
            .credit__content__bottom
              .credit__content__bottom__wrapper
                .credit__form.form__margin
                  .credit__form__plate
                    カード番号
                  .credit__form__require
                    必須
                  %input.credit__form__number{name: "word-search", placeholder: "半角数字のみ", type: "search"}/
                  %ul.card
                    %li.card__list
                      = image_tag 'https://www-mercari-jp.akamaized.net/assets/img/card/visa.svg?3649802486', class: "card__list__img"
                    %li.card__list
                      = image_tag 'https://www-mercari-jp.akamaized.net/assets/img/card/master-card.svg?3649802486', class: "card__list__img"
                    %li.card__list
                      = image_tag 'https://www-mercari-jp.akamaized.net/assets/img/card/saison-card.svg?3649802486', class: "card__list__img"
                    %li.card__list
                      = image_tag 'https://www-mercari-jp.akamaized.net/assets/img/card/jcb.svg?3649802486', class: "card__list__img"
                    %li.card__list
                      = image_tag 'https://www-mercari-jp.akamaized.net/assets/img/card/american_express.svg?3649802486', class: "card__list__img"
                    %li.card__list
                      = image_tag 'https://www-mercari-jp.akamaized.net/assets/img/card/dinersclub.svg?3649802486', class: "card__list__img"
                    %li.card__list
                      = image_tag 'https://www-mercari-jp.akamaized.net/assets/img/card/discover.svg?3649802486', class: "card__list__img"
                .credit__limit.form__margin
                  .credit__limit__text
                    有効期限
                  %span.credit__limit__require
                    必須
                  %br
                  .credit__limit__month
                    %select.credit__limit__month__select(name="month")
                      %option{:value => "0"} 01
                      %option{:value => "0"} 02
                      %option{:value => "0"} 03
                      %option{:value => "0"} 04
                      %option{:value => "0"} 05
                      %option{:value => "0"} 06
                      %option{:value => "0"} 07
                      %option{:value => "0"} 08
                      %option{:value => "0"} 09
                      %option{:value => "0"} 10
                      %option{:value => "0"} 11
                      %option{:value => "0"} 12
                    .credit__limit__month__icon

                    .credit__limit__month__text
                      月
                  .credit__limit__month
                    %select.credit__limit__month__select(name="month")
                      %option{:value => "0"} 20
                      %option{:value => "0"} 21
                      %option{:value => "0"} 22
                      %option{:value => "0"} 23
                      %option{:value => "0"} 24
                      %option{:value => "0"} 25
                      %option{:value => "0"} 26
                      %option{:value => "0"} 27
                      %option{:value => "0"} 28
                      %option{:value => "0"} 29
                      %option{:value => "0"} 30
                      %option{:value => "0"} 31
                    .credit__limit__month__icon

                    .credit__limit__month__text
                      年
                .credit__limit
                  .credit__limit__text
                    セキュリティコード
                  %span.credit__limit__require
                    必須
                  %input.security{name: "word-search", placeholder: "カード背面４桁もしくは３桁の番号", type: "search"}
                    .security__text
                      .security__text__null
                      .security__text__message
                        %span.security__text__message__icon
                          ?
                        %span.security__text__message__atend    
                          カードの裏面の番号とは？         
                %button.credit__btn
                  追加する 
      %aside.aside
        .bottom
          .bottom__content
            .bottom__content__left
              .bottom__content__left__message
                スマホでも難しいフリマアプリ
              .bottom__content__left__text
                今すぐ有料ダウンロード！
              .bottom__logo
                = image_tag 'logo_red.svg', class: "bottom__logo__merucari"
                = link_to '' '#', class: "bottom__logo__apple" do
                  = image_tag 'https://web-jp-assets.mercdn.net/_next/static/images/app-store-a5c17948c6fd6d5b60b13d421cd60b35.svg', class: "bottom__logo__apple__img"
                = link_to '' 'https://play.google.com/store/apps/details?id=com.kouzoh.mercari&hl=ja', class: "bottom__logo__google" do
                  = image_tag 'https://web-jp-assets.mercdn.net/_next/static/images/google-play-495575abb895b405aa6336b2a4304958.svg', class: "bottom__logo__google__img"
            .bottom__content__right
              = image_tag 'https://web-jp-assets.mercdn.net/_next/static/images/download_app_pc-a4418175e8be071827ac88d073f40e4a.png', class: "bottom__content__right__img"
      = render partial: 'items/header'       
