%body
  .body
    #app
      = render partial: 'items/header'

      -# config/breadcrumbs.rbに定義したmypageを呼び出し
      - breadcrumb :logout
      -# 下記を記述した箇所にパンくずリストが表示される。
      = breadcrumbs separator: " &rsaquo; "

      .wrapper
        
        .right
          .hako1
            .hako2
              = link_to destroy_user_session_path, method: :delete, class: "hako3" do
                ログアウト
          = render partial: 'list'
      = render partial: 'exhibition'
      = render partial: 'items/footer'