.body
      .mypage-main
        .mypage-main__body
          %section.mypage-main__body__top
            = link_to '' '#', class: "" do
              %p ユーザー名
              %p 評価　出品数
          %section.mypage-main__body__news
            %ul.mypage-main__body__news__tabs
              %li.active
                %h3
                  = link_to 'お知らせ' '#', class: "swich-tab" do
              %li
                %h3
                  = link_to 'やることリスト' '#', class: "swich-tab" do
            .mypage-main__body__news__tab-content
              %ul.mypage-main__body__news__tab-content__lists.active
                %li.mypage-main__body__news__tab-content__lists__list
                  = link_to '' '#', class: "" do
                %li.mypage-main__body__news__tab-content__lists__list
                  = link_to '' '#', class: "" do
                %li.mypage-main__body__news__tab-content__lists__list
                  = link_to '' '#', class: "" do
                %li.mypage-main__body__news__tab-content__lists__go-list
                  = link_to '一覧を見る' '#', class: "" do
              %ul.mypage-main__body__news__tab-content__lists
                %li.mypage-main__body__news__tab-content__lists__list
                  = link_to '' '#', class: "" do
                %li.mypage-main__body__news__tab-content__lists__list
                  = link_to '' '#', class: "" do
                %li.mypage-main__body__news__tab-content__lists__list
                  = link_to '' '#', class: "" do
                %li.mypage-main__body__news__tab-content__lists__go-list
                  = link_to '一覧を見る' '#', class: "" do
          %section.mypage-main__body__items
            %h2.mypage-main__body__items__head 購入した商品
            %ul.mypage-main__body__items__tabs
              %li.active
                %h3
                  = link_to '取引中' '#', class: "swich-tab" do
              %li
                %h3
                  = link_to '過去の取引' '#', class: "swich-tab" do
            .mypage-main__body__items__tab-content
              %ul.mypage-main__body__items__tab-content__lists.active
                %li.mypage-main__body__items__tab-content__lists__list
                  = link_to '' '#', class: "" do
                %li.mypage-main__body__items__tab-content__lists__list
                  = link_to '' '#', class: "" do
                %li.mypage-main__body__items__tab-content__lists__list
                  = link_to '' '#', class: "" do
                %li.mypage-main__body__items__tab-content__lists__go-list
                  = link_to '一覧を見る' '#', class: "" do
              %ul.mypage-main__body__items__tab-content__lists
                %li.mypage-main__body__items__tab-content__lists__list
                  = link_to '' '#', class: "" do
                %li.mypage-main__body__items__tab-content__lists__list
                  = link_to '' '#', class: "" do
                %li.mypage-main__body__items__tab-content__lists__list
                  = link_to '' '#', class: "" do
                %li.mypage-main__body__items__tab-content__lists__go-list
                  = link_to '一覧を見る' '#', class: "" do
