.member__wrapper
  .member__header
    =link_to root_path do
      = image_tag 'fmarket_logo_red.svg', class: "fmarket__header"
    
  .member__member
    .member__body
      .member__body__new
        %p.new__member#login_title アカウントをお持ちでない方はこちら
      .member__body__content#login_form_body
        .member__body__content__mail
          = button_to '新規会員登録', new_user_path, method: :get, class: "member__mail", id: "login_signup"
          %br/
          %i.icon-facebook
          .login_border#login_sosial_space
            = button_to 'Facebookでログイン', user_facebook_omniauth_authorize_path, method: :post,  class: "member__facebook", id: "login_social"
            %br/
            = button_to 'Googleでログイン', user_google_oauth2_omniauth_authorize_path, method: :post,  class: "member__google", id: "login_social"
          = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
            .field
              = f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "メールアドレス", class: "textform", id: "login_textform"
            .field
              = f.password_field :password, autocomplete: "current-password", placeholder: "パスワード", class: "textform", id: "login_textform"
            .rechaptcha
              = flash[:recaptcha_error]
              = recaptcha_tags
            .actions
              = f.submit "ログイン",  class: "signin__next__page"
            .login_forget_box
              =link_to 'パスワードをお忘れの方', '#', class: "login_forget"
  = render partial: "users/policy"
