.category
  - @parents1.each do |parent|              
    .category__items
      .category__items__title
        %h3.category__items__title__type
          全ての新着アイテム
        = link_to '' '#', class: "category__items__title__link" do
          もっと見る
          %i.fas.fa-chevron-right             
      .category__items__contents               
        .category__items__contents__tag
          %ul.products
            - @items.each do |item|
              %li.product                        
                .product__style
                  = link_to item_path(item.id), class: "product__link" do
                    .product__link__item
                      .product__item__details
                        %span.product__item__details__price
                          ¥
                          = number_with_delimiter(item.price)
                        - item.item_images.first(1).each do |i|
                          = image_tag "#{i.image}", class: "product__item__details__img"                         
                      .product-wrapper
                        %span.product-name
                          =item.name
                        -if item.buyer_id.present? 
                          .items-box_photo__sold
                            .items-box_photo__sold__inner
                              SOLD
.category
  - @parents1.each do |parent|              
    .category__items
      .category__items__title
        %h3.category__items__title__type
          =parent.name
          新着アイテム
        = link_to '' '#', class: "category__items__title__link" do
          もっと見る
          %i.fas.fa-chevron-right             
      .category__items__contents               
        .category__items__contents__tag
          %ul.products
            - @items1.each do |item|
              %li.product                        
                .product__style
                  = link_to '' '#', class: "product__link" do
                    .product__link__item
                      .product__item__details
                        %span.product__item__details__price
                          ¥
                          = number_with_delimiter(item.price)
                        - item.item_images.first(1).each do |i|
                          = image_tag "#{i.image}", class: "product__item__details__img"                         
                      .product-wrapper
                        %span.product-name
                          =item.name
                        -if item.buyer_id.present? 
                          .items-box_photo__sold
                            .items-box_photo__sold__inner
                              SOLD
.category
  - @parents2.each do |parent|              
    .category__items
      .category__items__title
        %h3.category__items__title__type
          =parent.name
          新着アイテム
        = link_to '' '#', class: "category__items__title__link" do
          もっと見る
          %i.fas.fa-chevron-right             
      .category__items__contents               
        .category__items__contents__tag
          %ul.products
            - @items2.each do |item| 
              %li.product                        
                .product__style
                  = link_to '' '#', class: "product__link" do
                    .product__link__item
                      .product__item__details
                        %span.product__item__details__price
                          ¥
                          = number_with_delimiter(item.price)
                        - item.item_images.first(1).each do |i|
                          = image_tag "#{i.image}", class: "product__item__details__img"                         
                      .product-wrapper
                        %span.product-name
                          =item.name
                        -if item.buyer_id.present? 
                          .items-box_photo__sold
                            .items-box_photo__sold__inner
                              SOLD
.category
  - @parents3.each do |parent|              
    .category__items
      .category__items__title
        %h3.category__items__title__type
          =parent.name
          新着アイテム
        = link_to '' '#', class: "category__items__title__link" do
          もっと見る
          %i.fas.fa-chevron-right             
      .category__items__contents               
        .category__items__contents__tag
          %ul.products
            - @items3.each do |item| 
              %li.product                        
                .product__style
                  = link_to '' '#', class: "product__link" do
                    .product__link__item
                      .product__item__details
                        %span.product__item__details__price
                          ¥
                          = number_with_delimiter(item.price)
                        - item.item_images.first(1).each do |i|
                          = image_tag "#{i.image}", class: "product__item__details__img"                         
                      .product-wrapper
                        %span.product-name
                          =item.name
                        -if item.buyer_id.present? 
                          .items-box_photo__sold
                            .items-box_photo__sold__inner
                              SOLD
.category
  - @parents4.each do |parent|              
    .category__items
      .category__items__title
        %h3.category__items__title__type
          =parent.name
          新着アイテム
        = link_to '' '#', class: "category__items__title__link" do
          もっと見る
          %i.fas.fa-chevron-right             
      .category__items__contents               
        .category__items__contents__tag
          %ul.products
            - @items4.each do |item| 
              %li.product                        
                .product__style
                  = link_to '' '#', class: "product__link" do
                    .product__link__item
                      .product__item__details
                        %span.product__item__details__price
                          ¥
                          = number_with_delimiter(item.price)
                        - item.item_images.first(1).each do |i|
                          = image_tag "#{i.image}", class: "product__item__details__img"                         
                      .product-wrapper
                        %span.product-name
                          =item.name
                        -if item.buyer_id.present? 
                          .items-box_photo__sold
                            .items-box_photo__sold__inner
                              SOLD
                          