%footer.foot
  .foot__top
    .company
      %h2.company__merucari
        メル○リについて
      %ul.conpany__tag
        %li.company__tag__list
          = link_to '' '#', class: "company__tag__list__link" do
            会社概要（運営会社）
        %li.company__tag__list
          = link_to '' '#', class: "company__tag__list__link" do
            採用情報
        %li.company__tag__list
          = link_to '' '#', class: "company__tag__list__link" do
            プレスリリース
        %li.company__tag__list
          = link_to '' '#', class: "company__tag__list__link" do
            公式ブログ
        %li.company__tag__list
          = link_to '' '#', class: "company__tag__list__link" do
            メル○リロゴ利用ガイドライン
        = link_to '' '#', class: "company__tag__twitter" do
          %i.fab.fa-twitter.fa-3x
        = link_to '' '#', class: "company__tag__face-book" do
          %i.fab.fa-facebook-square.fa-3x
    .company
      %h2.company__merucari ヘルプ＆ガイド
      %ul.conpany__tag
        %li.company__tag__list
          = link_to '' '#', class: "company__tag__list__link" do
            メル○リガイド
      %ul.conpany__tag
        %li.company__tag__list
          = link_to '' '#', class: "company__tag__list__link" do
            らくらくメル○リ便
      %ul.conpany__tag
        %li.company__tag__list
          = link_to '' '#', class: "company__tag__list__link" do
            ゆうゆうメル○リ便
      %ul.conpany__tag
        %li.company__tag__list
          = link_to '' '#', class: "company__tag__list__link" do
            大型メル○リ便
      %ul.conpany__tag
        %li.company__tag__list
          = link_to '' '#', class: "company__tag__list__link" do
            車体取引ガイド
      %ul.conpany__tag
        %li.company__tag__list
          = link_to '' '#', class: "company__tag__list__link" do
            メル○リあんしん・あんぜん宣言！
      %ul.conpany__tag
        %li.company__tag__list
          = link_to '' '#', class: "company__tag__list__link" do
            偽ブランド品撲滅への取り組み
      %ul.conpany__tag
        %li.company__tag__list
          = link_to '' '#', class: "company__tag__list__link" do
            メル○リボックス
    .company__privacy
      %h2.company__privacy__text
        プライバシーと利用規約
      .company__privacy__policy
        %ul.conpany__tag
          %li.company__tag__list
            = link_to '' '#', class: "company__tag__list__link" do
              プライバシーポリシー
          %li.company__tag__list
            = link_to '' '#', class: "company__tag__list__link" do
              メル○リ利用規約
          %li.company__tag__list
            = link_to '' '#', class: "company__tag__list__link" do
              あんしんスマホサポート制度に関する利用特約
          %li.company__tag__list
            = link_to '' '#', class: "company__tag__list__link" do
              コンプライアンスポリシー
      .company__privacy__data
        %ul.conpany__tag
          %li.company__tag__list
            = link_to '' '#', class: "company__tag__list__link" do
              個人データの安全管理に係る係る基本方針
          %li.company__tag__list
            = link_to '' '#', class: "company__tag__list__link" do
              特定商取引に関する表記
          %li.company__tag__list
            = link_to '' '#', class: "company__tag__list__link" do
              資金決済方法に基基づく表示
          %li.company__tag__list
            = link_to '' '#', class: "company__tag__list__link" do
              法令遵守と犯罪抑止のために
    .company
      %h2.company__merucari
        国
      %ul.conpany__tag
        %li.company__tag__list
          = link_to '' '#', class: "company__tag__list__link" do
            日本
        %li.company__tag__list
          = link_to '' '#', class: "company__tag__list__link" do
            United States
  .foot__bottom
    = link_to '' '#', class: "foot__bottom__link" do
      = image_tag 'logo_gray.svg', class:"foot__bottom__link__img"
    %span.foot__bottom__text
      © Me*ca*i, Inc.