%body
  .body
    #app
      = render partial: 'header'
      .items
        .items__wrapper
          .items__scroll
            .slide   
              = image_tag 'PAK42_oisisounamakaron20140304_TP_V.jpg', class: "slide__img"           
              = image_tag 'KLPL_FOREST_005_TP_V.jpg', height: '800px', class: "slide__img"
              = image_tag 'elly181027001_TP_V.jpg', class: "slide__img"
              = image_tag 'STOCKER1202036_TP_V.jpg', class: "slide__img"
          .items__category
            %h2 人気のカテゴリー
            .item
              %ul.item__tag
                - @parents.each do |parent|   
                  %li.item__tag__list
                    = link_to parent.name, "", class: "item__tag__list__link"  
          = render partial: 'category'             
      .camera
      = render partial: 'users/exhibition'
      %aside.aside
        .bottom
          .bottom__content
            .bottom__content__left
              .bottom__content__left__message
                スマホでも難しいフリマアプリ
              .bottom__content__left__text
                今すぐ有料ダウンロード！
              .bottom__logo
                = image_tag 'logo_red.svg', class: "bottom__logo__merucari"
                = link_to '' '#', class: "bottom__logo__apple" do
                  = image_tag 'https://web-jp-assets.mercdn.net/_next/static/images/app-store-a5c17948c6fd6d5b60b13d421cd60b35.svg', class: "bottom__logo__apple__img"
                = link_to '' 'https://play.google.com/store/apps/details?id=com.kouzoh.mercari&hl=ja', class: "bottom__logo__google" do
                  = image_tag 'https://web-jp-assets.mercdn.net/_next/static/images/google-play-495575abb895b405aa6336b2a4304958.svg', class: "bottom__logo__google__img"
            .bottom__content__right
              = image_tag 'https://web-jp-assets.mercdn.net/_next/static/images/download_app_pc-a4418175e8be071827ac88d073f40e4a.png', class: "bottom__content__right__img"
      = render partial: 'footer'