.gray-sell
  .fmarket-logo
  = form_with(model: @item, local: true) do |f|
    .white-sell
      .header-content
        商品の情報を入力
      .image-content
        .image-content__head
          出品画像
          %span 必須
        %p 最大10枚までアップロードできます
        .image-content__input-box
          = f.fields_for :item_images do |i|
            = i.file_field :image
          = f.fields_for :item_images do |i|
            = i.file_field :image
      .item-name
        .item-name__head
          商品名
          %span 必須
        = f.text_field :name, placeholder: "商品名（必須 40文字まで)"
        .item-name__text
          商品の説明
          %span 必須
        = f.text_area :description, placeholder: "商品の説明（必須 1,000文字以内）（色、素材、重さ、定価、注意点など）例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。"
      .item-show
        .item-show__left-head 商品の詳細
        .item-show__categorie
          .item-show__categorie--input-top
            カテゴリー
            %span 必須
          = f.collection_select :category_id, Category.where(ancestry: nil), :id, :name
          .item-show__categorie--input-bottom
            ブランド
            %span 必須
          = f.fields_for :brand do |i|
            = i.text_field :name
          .item-show__categorie--input-bottom
            商品の状態
            %span 必須
          = f.select :condition, [['新品、未使用', 1], ['未使用に近い', 2], ['目立った傷や汚れなし', 3], ['やや傷や汚れあり', 4], ['傷や汚れあり', 5], ['全体的に状態が悪い', 6]]
      .item-show
        .item-show__left-head 配送について
        .item-show__categorie
          .item-show__categorie--input-top
            配送料の負担
            %span 必須
          = f.select :shipping_charge, [['送料込み(出品者負担)', 1], ['着払い(購入者負担)', 2]]
          .item-show__categorie--input-bottom
            配送の方法
            %span 必須
          = f.select :shipping_method, [['未定', 1], ['らくらくメルカリ便', 2], ['ゆうメール', 3], ['レターパック', 4], ['普通郵便(定形、定形外)', 5], ['クロネコヤマト', 6], ['ゆうパック', 7], ['クリックポスト', 8], ['ゆうパケット', 9]]
          .item-show__categorie--input-bottom
            配送元の地域
            %span 必須
          = f.collection_select :ship_form, Prefecture.all, :id, :name
          .item-show__categorie--input-bottom
            配送までの日数
            %span 必須
          = f.select :shipping_days, [['1〜2日で発送', 1], ['2〜3日で発送', 2], ['4〜７日で発送', 3]]
      .item-show
        .item-show__left-head 販売価格(300〜9,999,999)
        .item-show__sell-price
          .item-show__sell-price--price-box
            .item-show__sell-price--price-box--price
              価格
              %span 必須
            ¥
            = f.number_field :price
          .item-show__sell-price--tax-box
            .item-show__sell-price--tax-box--tax
              販売手数料(10%)
            &mdash;
            /↑は"-"のエスケープコード
          .item-show__sell-price--tax-box
            .item-show__sell-price--tax-box--profit
              販売利益
            .item-show__sell-price--tax-box--profit
              &mdash;
              /↑は"-"のエスケープコード
      .item-submit
        .item-submit__conditions
          %p 禁止されている出品、行為を必ずご確認ください。
          %p またブランド品でシリアルナンバー等がある場合はご記載ください。偽ブランドの販売は犯罪であり処罰される可能性があります。
          %p また、出品をもちまして加盟店規約に同意したことになります。
        = f.submit "出品する", class: "item-submit__submit"
        = link_to "もどる", root_path
