.gray-sell
  .fmarket-logo
  = form_with(model: @item, local: true) do |f|
    .white-sell
      .header-content
        商品の情報を入力
      .image-content
        .image-content__head
          出品画像
          %span 必須
        %p 最大10枚までアップロードできます
        .image-content__input-box
        
      .item-name
        .item-name__head
          商品名
          %span 必須
        = f.text_field :name, placeholder: "商品名（必須 40文字まで)"
        .item-name__text
          商品の説明
          %span 必須
        = f.text_area :description, placeholder: "商品の説明（必須 1,000文字以内）（色、素材、重さ、定価、注意点など）例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。"
      .item-show
        .item-show__left-head 商品の詳細
        .item-show__categorie
          .item-show__categorie--input-top
            カテゴリー
            %span 必須
          = f.collection_select :category_id, Category.where(ancestry: nil), :id, :name
          .item-show__categorie--input-bottom
            商品の状態
            %span 必須
          = f.collection_select :condition, AhCondition.all, :id, :name 
      .item-show
        .item-show__left-head 配送について
        .item-show__categorie
          .item-show__categorie--input-top
            配送料の負担
            %span 必須
          = f.collection_select :shipping_charge, AhShippingCharge.all, :id, :name
          .item-show__categorie--input-bottom
            配送の方法
            %span 必須
          = f.collection_select :shipping_method, AhShippingMethod.all, :id, :name
          .item-show__categorie--input-bottom
            配送元の地域
            %span 必須
          = f.collection_select :ship_form, AhPrefecture.all, :id, :name
          .item-show__categorie--input-bottom
            配送までの日数
            %span 必須
          = f.collection_select :shipping_days, AhShippingDays.all, :id, :name

      .item-show
        .item-show__left-head 販売価格(300〜9,999,999)
        .item-show__sell-price
          .item-show__price-box
            .item-show__price-box--price
              価格
              %span 必須
            ¥
            = f.number_field :price
          .item-show__tax-box
            .item-show__tax-box--tax
              販売手数料(10%)
              -
      .price-sell
        販売価格(300〜9,999,999)
        .delivery__burden
          価格
          %span 必須
          
        .price-sell__tax
          販売手数料(10%)
        .price-sell__profit
          販売利益
      = f.submit